@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

@import url("sections/header.css");
@import url("sections/hero.css");
@import url("sections/services.css");
@import url("sections/categories.css");
@import url("sections/newsletter.css");
@import url("sections/upcoming.css");
@import url("sections/footer.css");

:root {
    --poppins: "Poppins", serif;
    --montserrat: "Montserrat", sans-serif;

    --primary-color: #8BB178;
    --secondary-color: #121212;

    --description-color: #68737F;
    --color-white: #fff;
}


*, *::before, *::after {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    box-sizing: border-box;
}
  
body {
    max-width: 1280px;
    margin: auto;
    font-family: var(--montserrat);
}

a {
    text-decoration: none;
    color: inherit;
  }

 
.bold {
    font-weight: 900;
}

.thin {
    font-weight: 400;
}

.title {
    font-size: 2.25rem;
    font-weight: bold;
    font-family: var(--poppins);
}

.description {
    font-size: 1.2rem;
    font-family: var(--poppins);
}

.description-2 {
    font-size: 1rem;
    font-family: var(--poppins);
}

.description-color {
    color: var(--description-color);
}

box-icon {
    cursor: pointer;
}


/* START: hero media querie */
@media screen and (max-width: 900px) {
    .hero {
        flex-direction: column;
        
    }

    .hero__img-group {
        justify-content: center;
    }

    .hero__img-container {
        flex-direction: row;
        justify-content: center;
        gap: 12px;
    }

    .hero__img-selector {
        margin: 0;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .hero__img-selector box-icon {
        rotate: 90deg;
    }
}

@media screen and (max-width: 600px) {
    .hero {
        margin-bottom: 15vh;
    }

    .hero__img-selector {
        display: none;
    }
    
    body {
        width: 100%;
    }
}

/* START: services media querie */
@media screen and (max-width: 600px) {
    .services {
        margin-top: 20vh;
        gap: 5vh;
        height: 100vh;
    }

    .services__list {
        flex-direction: column;
        height: 100%;
        gap: 8vh;
    }

    .services__list-container {
        max-width: 60%;
    }
}


/* START: categories media querie */
@media screen and (max-width: 940px) {
    .categories {
        gap: 8px;
    }

    .categories__img-container {
        max-width: 90vw;
    }
}

@media screen and (max-width: 890px) {
    .categories {
        margin: 0;
        flex-direction: column;
        align-items: center;
        gap: 36px;
        margin-bottom: 8vh;
    }

    .categories__content {
        max-width: max-content;
    }

    .categories__img-container {
        height: 80vh;
        width: 80vw;
    }
}

@media screen and (max-width: 600px) {
    .categories {
        margin-top: 10vh;
        padding: 5%;
    }

    .categories__img-container {
        height: 40vh;
        width: 90vw;
    }

}

/* START: newsletter media querie */
@media screen and (max-width: 900px) {
    .newsletter {
        height: fit-content;
        flex-direction: column;
        justify-content: space-evenly;
        text-align: center;
        align-items: center;
        gap: 36px;
    }

    .newsletter__content {
        width: 80%;
    }

    .newsletter__form {
        width: 60%;
    }
}

/* START: upcoming media querie */
@media screen and (max-width: 600px) {
    .upcoming {
        margin-bottom: 20vh;
    }

    .upcoming__content h2{
        font-size: 2rem;
    }

    .upcoming__gallery figure {
        width: 100%;
    }

    figure img {
        width: 80%;
    }
}


/* START: footer media querie */
@media screen and (max-width: 1180px) {
    .footer__content {
        flex-wrap: wrap;
        justify-content: space-around;
        margin: 8vh 0;
    }

    .footer__contact h3 {
        margin-top: 0;
    }

    .footer__map {
        height: fit-content;
    }

    .footer__content {
        margin-bottom: 0;
    }
}

@media screen and (max-width: 700px) {
    * {
        margin: 0;
        gap: 8px;
    }

    .footer__map {
        display: none;
    }

    .footer__nav {
        width: 30%;

    }

    .footer__nav-list {
        width: 100%;
        text-align: center;
    }

    .footer__contact {
        width: 50%;
    }


    .footer__content {
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: flex-start;
    }
}