
.footer__content {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.footer__nav-list {
    list-style-type: none;
    width: 30%;
}

.footer__nav-item {
    margin: 1rem;
    font-weight: 600;
}


.footer__contact {
    width: 30%;
}

.footer__contact h3 {
    margin-bottom:12px;
    font-size: 24px;
    font-weight: 600;
    font-family: var(--poppins);
}

.footer__contact p {
    margin: 0 0 8px;
}


.footer__map {
    width: 40%;
    margin-top: 10vh;
    align-items: center;
}

.footer__map iframe {
    
    width: 100%;
    height: 300px;
    border: none;
    margin-bottom: 60px;
}

.footer__copyright {
    display: flex;
    margin: 16px 0 16px 0;
    align-items: center;
    justify-content: space-between;
}

.footer__copyright-links {
    display: flex;
    gap: 16px;
}
