footer {
    margin: auto;
}

.footer__content {
    display: flex;
    margin: 24px;
    align-items: center;
    gap: 10%;
    justify-content: space-evenly;
}

.footer__nav {
    justify-content: flex-start;
}

.footer__nav-list {
    list-style-type: none;
}

.footer__nav-item {
    margin: 16px;
    font-weight: 600;
}

a {
    text-decoration: none;
    color: black;
}

.footer__contact {
    margin-left: 24px;
}

.footer__contact h3 {
    margin-bottom:12px;
    font-size: 24px;
    font-weight: 600;
    font-family: var(--poppins);
}

.footer__contact p {
    margin: 0 0 8px;
}


.footer__map {
    margin-top: 80px;
    margin-left: 24px;
}

.footer__map iframe {
    width: 500px;
    height: 300px;
    border: none;
    margin-bottom: 60px;
}

.footer__copyright {
    display: flex;
    margin: 16px 0 16px 0;
    align-items: center;
    justify-content: space-between;
}

.footer__copyright-links {
    display: flex;
    gap: 16px;
}
