.header__nav {
    display: flex;
    align-items: center;
    top: 0;
    padding-top: 2vh;
    justify-content: space-between;
}

.header__logo {
    display: flex;
    align-items: center;
    gap: 8px;
    z-index: 1;
}

.header__logo img  {
    width: 34px;
    height: 34px;
}

.header__icons {
    display: flex;
    gap: 10px;
}