.hero {
    display: flex;
    margin: 5%;
}

.hero__img-container {
    display: flex;
    flex-direction: column;
}

.hero__img-group {
    display: flex;
    justify-content: space-between;
    gap: 2vw;
}

.hero__img-indicator {
    display: flex;
    flex-direction: column;
    gap: 3vh;
    justify-content: center;
}

.hero__img-selector {
    display: flex;
    justify-content: flex-end;
    gap: 20%;
    margin-top: 28px;
    margin-right: 7%;
}

.hero__img-selector p {
    margin: 0;
}

.hero__img {
    height: 80vh;
}

.hero__img img {
    height: 100%;
    object-fit: cover;
}

.dot {
    height: 16px;
    width: 16px;
    background-color: #E6E6E6;
    border-radius: 50%;
    display: flex;
    gap: 24px;
  }

.active {
    background-color: var(--primary-color);
}

.hero__content {
    height: 60vh;
    margin: auto;
    padding: 0 7vw;
}

.hero__content h2 {
    font-size: 3rem;
    color: var(--primary-color);
    margin-top: 0;
}

.hero__content p {
    margin: 28px 0 16px 0;
    color: var(--description-color);
}

.btn {
    margin-left: 16px; 
    background: none;
    padding: 8px 20px;
    font-size: 18px;
    font-family: var(--montserrat);
    color: var(--secondary-color);
    cursor: pointer;
}

.btn:hover {
    background-color: #E6E6E6;
}

.btn-active {
    background-color: var(--primary-color);
    border: none;
    padding: 8px 20px;
    font-size: 18px;
    font-family: var(--montserrat);
    color: #fff;
    cursor: pointer;
}

.btn-active:hover {
    background-color: #779867;
} 