.upcoming {
    width: 100%;
    display: flex;
    flex-direction: column;
}
.upcoming h2{
    margin-top: 10vh;
    text-align: center;
}

.upcoming__gallery {
    display: flex;
    justify-content: center;
    margin-top: 40px;
    gap: 1vw;
}

figure {
    width: 267px;
    height: fit-content; /* 267px + 20px figcaption */
    text-align: center;

}


figcaption {
    margin-top: 20px;
}
.upcoming__gallery::-webkit-scrollbar {
    height: 6px;
}

.upcoming__gallery::-webkit-scrollbar-track {
    background: var(--primary-color);
}

.upcoming__gallery::-webkit-scrollbar-thumb {
    background: var(--description-color);
    border-radius: 10px;
}
